body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1c1a19;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #3c3a39;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: end;
  width: 35px;
  height: 3px;
  background-color: #acb7c3;
  margin-top: 7px;
  margin-right: 10px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.menu1 {
  margin-top: 30px;
  margin-right: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list h4 {
  color: #fff;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-left: 10px;
}

.section-headline {
  background-color: #1c1a19;
  background-image: url("bg-image.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-left: 5px;
}

section.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 375px;
  height: 590px;
  top: 92px;
}

.main-text h1 {
  color: #ff6b00;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  margin-left: 10px;
}

.main-text h3 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.main-text p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Poppins Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.social-media li .social-1 .fab {
  position: absolute;
  left: 0.08%;
  right: 0.01%;
  top: 0%;
  bottom: 0%;
  color: #dbd8d7;
}

.social-media {
  display: flex;
}

.social-media li .social-2 .fab {
  position: absolute;
  left: 36.44%;
  right: 0%;
  top: 15.17%;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  color: #dbd8d7;
}

.social-media li .social-3 .fab {
  position: absolute;
  left: 14.58%;
  right: 14.58%;
  top: 0%;
  bottom: 0%;
  color: #dbd8d7;
}

.social-media li .social-4 .fab {
  position: absolute;
  left: 0.04%;
  right: 0.03%;
  top: 0.02%;
  bottom: 0%;
  color: #dbd8d7;
}

.social-media li .social-5 .fab {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 16.67%;
  bottom: 16.67%;
  color: #dbd8d7;
}

.social-media i {
  color: #dbd8d7;
}

.social-media li a {
  text-decoration: none;
}

.social-media li {
  list-style-type: none;
}

.social-media-icons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.project-section {
  background-color: #fff;
}

.project-headline {
  padding-top: 100px;
}

.project-headline h1 {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-family: "Crete Round", sans-serif;
  margin-bottom: 1rem;
  font-weight: 400;
}

.horizontal-line-1 {
  width: 90%;
  text-align: center;
  color: #212121;
  border: 1px solid;
  margin-top: 50px;
  margin-bottom: 70px;
}

.horizontal-line-2 {
  width: 90%;
}

.placeholder-1 {
  background-image: url("placeholder-1.png");
}

.project-1 {
  margin: 12px;
  margin-left: 20px;
  color: #091e42;
}

.project-list-1 ul {
  display: flex;
  list-style-type: none;
}

.project-list-1 li {
  display: flex;
  min-width: 29%;
  justify-content: space-between;
  flex-direction: row;
  border: 10px;
}

.project-list-1 a {
  margin: 0 0.5em;
  padding: 0.5rem 0.5rem;
  background: none;
  border: 1px solid #8993a4;
  color: #091e42;
  font-size: 15px;
  font-weight: normal;
}

.project-1-btn button {
  background-color: #ff6b00;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  outline: none;
}

.project-2 {
  /* margin: 12px; */
  margin-left: 20px;
  margin-right: 20px;
  color: #091e42;
  background-image: url('placeholder-2.png');
  background-size: cover;
}

.project-layout {
  margin-top: 0;
}

.project-layout a {
  color: #fff;
}

.project-layout ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #8993a4;
}

.project-layout p {
  color: #fff;
  margin-left: 30px;
}

.project-title {
  color: #fff;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  text-align: left;
  margin-left: 30px;
}

.project-list-2 ul {
  display: flex;
  list-style-type: none; 
  opacity: 0.2;
}

div a {
  text-decoration: none;
}

div li {
  list-style-type: none;
}

.project-2-btn button {
  background-color: #ff6b00;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  outline: none;
  width: 100%;
  border: 1px solid transparent;
}

.about-section {
    width: 100%;
    margin-top: 200px;
    height: 500px;
    background-image: url('about-me-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2rem;
}

.about-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: relative;
  width: 375px;
  height: 590px;
  top: 92px;
  margin-top: 50px;
}

.about-container {
  margin-top: 100px;
}

.about-headline h1 {
  color: #ff6b00;
  font-family: Crete Round;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
  margin-top: -308px;
}

.about-headline p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.about-headline button {
  background-color: #ff6b00;
  border: 0;
  padding: 20px;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;


}

.details {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.details li {
  list-style-type: none;
  padding-top: 15px;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}

.language {
  font-family: InaiMathi;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.frameworks {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.skills {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.language-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.language img {
  max-width: 100%;
  margin-left: 40px;
}

.frameworks-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.frameworks img {
  max-width: 100%;
  margin-left: 40px;
}

.skills-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.skills img {
  max-width: 100%;
  margin-left: 40px;
}
