* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #3c3a39;
  margin: 0;
}

div a {
  text-decoration: none;
}

div li {
  list-style-type: none;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

section.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  width: 375px;
  height: 590px;
  top: 92px;
}

.main-text h1 {
  color: #ff6b00;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  margin-left: 10px;
  margin-top: 0;
  padding-top: 60px;
}

.main-text h3 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.main-text p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Poppins Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
  margin-left: 10px;
}

.social-media {
  display: flex;
}

.social-media i {
  color: #dbd8d7;
}

.project-list-1 a {
  padding: 0.5rem 0.5rem;
  background: none;
  border: 1px solid #8993a4;
  color: #091e42;
  font-size: 15px;
  font-weight: normal;
}

.project-layout a {
  color: #fff;
}

.social-media li a {
  text-decoration: none;
}

.social-media li {
  list-style-type: none;
}

.social-media-icons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.project-section {
  display: grid;
  grid-row-gap: 50px;
  background-color: #fff;
}

.project-list-1 ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  grid-column-gap: 20px;
}

.project-list-1 li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 10px;
}

.project-1-btn button {
  background-color: #ff6b00;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  outline: none;
}

.project-layout {
  margin-top: 0;
  padding-top: 70px;
}

.project-layout ul {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
}

.project-layout li {
  border: 1px solid #8993a4;
  padding: 10px;
  background: #ffffff3d;
}

.project-layout p {
  color: #fff;
  margin-left: 30px;
}

.project-title {
  color: #fff;
  font-family: "Crete Round", serif, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 44px;
  text-align: left;
  margin-left: 30px;
}

.project-list-2 ul {
  display: flex;
  list-style-type: none;
  opacity: 0.2;
}

.project-2-btn button {
  background-color: #ff6b00;
  color: #fff;
  padding: 0.5rem 1rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  outline: none;
  width: 100%;
  border: 1px solid transparent;
}

.about-section {
  margin-top: 200px;
  background-repeat: no-repeat;
  background-position: 100% 27%;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: #1c1a19;
}

.about-headline h1 {
  color: #ff6b00;
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-align: left;
}

.about-headline button {
  background-color: #ff6b00;
  border: 0;
  padding: 20px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.details ul {
  padding-left: 0;
}

.details li {
  list-style-type: none;
  padding-top: 15px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

.language {
  font-family: "InaiMathi", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

.frameworks {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

.skills {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

.language-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 25px;
}

.language img {
  max-width: 100%;
}

.frameworks-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.frameworks img {
  max-width: 100%;
}

.skills-container {
  display: flex;
  align-items: center;
  margin-left: 60px;
  gap: 20px;
}

.skills img {
  max-width: 100%;
}

.footer-text h3 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
  margin: 24px;
}

.flex-item {
  width: 80%;
  padding: 24px;
  margin-bottom: 30px;
}

.form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  width: 90%;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.form textarea {
  border: none;
  background: #fbf8f7;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 100px;
  width: 90%;
}

.form button {
  background: #ff6b00;
  padding: 12px;
  align-items: center;
  margin: 24px 122px 0 60px;
  border: none;
  width: 50%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.social-media-footer i {
  color: #505f79;
}

.horizontal-line-4 {
  background: #0d151e;
  width: 134px;
  height: 5px;
  bottom: 8px;
}

@media only screen and (min-width: 1080px) {

.nav-list {
    display: flex;
  }

  .nav-list nav {
    margin-left: 750px;
  }

  .nav-list ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 70px;
  }

  .logo {
    margin-left: 60px;
  }

  .nav-list a {
    color: #fff;
  }
}

.section-headline {
  background-image: url("Illustration-header.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 100% 0;
  background-size: contain;
  background-color: #1c1a19;
}

section .main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 375px;
  height: 100vh;
  top: 92px;
  margin-left: 59px;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.main-text .social-media-icons {
  flex-direction: column;
  margin-left: 30px;
}

.social-media-icons i {
  margin-top: 10px;
}

.intro {
  max-width: 566px;
  margin-right: auto;
  margin-left: 2rem;
}

.intro h1 {
  max-width: 380px;
  margin-bottom: 20px;
}

.project-headline {
  display: flex;
  flex-direction: row;
}

.horizontal-line-1 {
  width: 60%;
  text-align: center;
  border: 1px solid #212121;
  margin: 57px 0 70px 15px;
}

.project-headline h1 {
  margin-left: 100px;
  color: #000;
  text-align: center;
  font-size: 40px;
  font-family: "Crete Round", sans-serif, Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  font-weight: 400;
}

.project-1 {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  margin: 12px;
  margin-left: 20px;
  color: #091e42;
}

.ph-1-img {
  margin-left: 100px;
  height: 100%;
}

.project-list-1 {
  margin-left: 40px;
}

.project-2-flex {
  width: 85%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 100px;
  margin-right: 100px;
}

.project-2 {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #091e42;
  background-image: url('placeholder-2.png');
  background-size: cover;
}

.about-headline {
  background-image: url("illustration-about-me.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 90% 50%;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  align-items: flex-start;
  padding: 120px 24px 0 24px;
  position: relative;
}

.about-headline p {
  width: 50%;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.horizontal-line-2 {
  width: 80%;
  margin-left: 0;
  margin-top: 200px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
  text-align: center;
  color: #fff;
  padding: 0 45px;
}

.skills li {
  margin-left: 100px; 
}

.footer-container {
  display: flex;
  flex-direction: row;
  margin: 100px;
}

.footer-text {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.form .form-btn {
  margin-left: 0;
  width: 23%;
}

.horizontal-line-3 {
  width: 100%;
  margin-top: 150px;
  border-top: 1px solid #c0a69d;
}

.social-media-footer {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
  margin-left: 560px;
}

.horizontal-line-4 {
  display: none;
}
